{% extends "bootstrap_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}需要邮箱认证{{super()}}{% endblock %}
{% block content %}
<h1>
    Hello,{{current_user.username}}
</h1>
<div class="container">
    {% import 'message.html' as msg %}
    {{ msg.show() }}
    It looks you haven't confirmed your email({{current_user.email}}), Need another confirmation email?
    <a href="{{url_for('auth.confirmed')}}">Click here</a>
    <p>Before you resent another email, please check your Junk Email（垃圾箱/垃圾邮件）</p>
</div>

{% endblock %}