{% extends "bootstrap_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "message.html" as message %}
{% block title %}编辑-这儿{{super()}}{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
{% block content %}

<!--</div>-->
<div class="container">
    {{message.show()}}
    <div>
        {% if current_user.can(Permission.MODERATE_COMMENTS) or post.author==current_user %}
        {{wtf.quick_form(form)}}
        {% endif %}
    </div>

</div>
{% endblock %}