{% extends "bootstrap_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "message.html" as message %}
{% block title %}这儿{{super()}}{% endblock %}
{% block head %}{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}

<!--<div class="page-header">-->
<!--<h1> Hello,-->
<!--{%if current_user.is_authenticated %}-->
<!--{{current_user.username}}-->
<!--{% else %}-->
<!--Friend,please to login!-->
<!--{% endif %}-->
<!--</h1>-->
<!--</div>-->
<div class="container">
    {{message.show()}}
    <div>
        {% if current_user.can(Permission.POST_ARTICLES) %}
        {{wtf.quick_form(form)}}
        {% endif %}
    </div>
    {% include '_posts.html' %}
    {% import '_posts.html' as posts%}
    {{posts.pagination_widget(pagination,'.home')}}
</div>

{% endblock %}