{% extends "bootstrap_base.html" %}
{% block title %}{{posts[0].author.username}}在这儿{{super()}}{% endblock %}
{% import 'message.html' as msg %}
{% block content %}
<div class="container">
    {{ msg.show() }}
    {% include '_posts.html' %}
    {% if current_user.can(Permission.MODERATE_COMMENTS) or posts[0].author==current_user %}
    <a href="{{url_for('.edit_post',id=posts[0].id)}}" class="btn btn-default" role="button">Edit</a>
    <a href="{{url_for('.delete_post',id=posts[0].id)}}" class="btn btn-warning" role="button">delete</a>
    {% endif %}
</div>
{% endblock %}